{% extends "pages/page.html" %}

{% load mezzanine_tags %}
{% load staticfiles %}
{% block extra_js %}
{{ block.super }}
<script>
$(function() {$('.mezzanine-form :input:visible:enabled:first').focus();});
</script>
<style type="text/css">
.rounded-icon{
    width:5em; 
    margin:0.2em; 
    border-radius:0.2em;
}
</style>
{% endblock %}

{% block main %}
{{ block.super }}
{% if request.GET.sent %}
    {% editable page.form.response %}
    {{ page.form.response|richtext_filters|safe }}
    {% endeditable %}
{% else %}
    {% with page.form as page_form %}
    {% editable page_form.content %}
    {{ page_form.content|richtext_filters|safe }}
    {% endeditable %}
    {% endwith %}

    {% errors_for form %}
    <div class="col-md-6" style="float:right">
    <h1 style="color:black">Quer expor sua opinião?</h1>
    <form role="form" class="mezzanine-form" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
        {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            <div><h2 style="font-size:1.2em;">{{ field.label_tag }}</h2></div> {{ field }}
        </div>
        {% endfor %}
        <div class="form-actions">
            <input class="btn btn-primary btn-lg" type="submit" value="Enviar">
        </div>
    </form>
    </div>
{% endif %}

{% endblock %}

