{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %} {% endblock %}
{% block main %}

<div class="container">
  <div class="row">
    <div class="col-md-6 middle">
      <h2 style="text-align:right">Estes são os nossos parceiros:</h2>
      <div class="col-md-4 col-sm-6"><br><img src="{% static "img/convexo.jpg" %}" width="100%"></div>
      <div class="col-md-4 col-sm-6"><br><img src="{% static "img/rosa.png" %}" width="100%"></div>
      <div class="col-md-4 col-sm-6"><br><img src="{% static "img/mesa.png" %}" width="100%"></div>
      <div class="col-md-4 col-sm-6"><br><img src="{% static "img/crars.jpg" %}" width="100%"></div>
      <div class="col-md-4 col-sm-6"><br><img src="{% static "img/bizspark.png" %}" width="100%"></div>
      <div class="col-md-4 col-sm-6"><br><img src="{% static "img/efforia.png" %}" width="100%"></div>
      <div class="col-md-4 col-sm-6"><br><img src="{% static "img/abd.png" %}" width="100%"></div>
      <div class="col-md-4 col-sm-6"><br><img src="{% static "img/logo-uniritter.jpg" %}" width="100%"></div>
    </div>
    <div class="col-md-6 middle">
      <h2 class="left">Vantagens que você desfruta da nossa rede de parceiros</h1>
      <p style="font-size:1.5em; line-height:1.2em" class="bar">Hardwares, softwares e nuvem gratuitos</p>
      <p style="font-size:1.5em; line-height:1.2em" class="bar">Acesso fácil a eventos e oficinas da Fábrica de Ideias</p>
      <p style="font-size:1.5em; line-height:1.2em" class="bar">Apoio para crescimento do negócio</p>
      <p style="font-size:1.5em; line-height:1.2em" class="bar">Ambiente de coworking para desenvolver o negócio</p>
      <p style="font-size:1.5em; line-height:1.2em" class="bar">Microlaboratório para desenvolver novos produtos</p>
      <p><br><br></p>
    </div>
  </div>
</div>

{% endblock %}
