{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load pages_tags %}

{% block main %}

<div class="row">
  <div class="col-md-12 middle">
    <h1 style="text-align: center;">Para usar a Fábrica de Ideias Coworking é fácil:</h1>
    <p>Basta selecionar o plano que mais se encaixa com você, marcar uma visita conosco e fecharmos o contrato. Simples, fácil e prático, como um ambiente empreendedor deve de proporcionar. Temos planos para todas as necessidades das pessoas que nos buscam:</p>
    <div class="row">
      <div class="col-md-3 col-sm-3 text-center">
        <p style="font-size:2em; margin-top:1em">ENDEREÇO COMERCIAL</p>
        <div>
          <p style="font-size:3em; line-height:1.5em; margin-top:0.5em">
            R$ 100,00 / MÊS
          </p>
        </div>
        <h2></h2>
        <div>
          <form action="https://pagseguro.uol.com.br/v2/pre-approvals/request.html" method="post">
            <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
            <input name="code" value="65B419970606969004562F9C7154AE1B" type="hidden">
            <input class="btn btn-success" name="submit" alt="Contratar plano de endereço" type="image">
          </form>
        </div>
        <ul style="text-align:left; margin-top:1.5em">
          <li><span style="line-height: 1.5em;">Contrato mensal<br></span></li>
          <li><span style="line-height: 1.5em;">Acesso a rede de parceiros da Fábrica</span></li>
          <li><span style="line-height: 1.5em;">Coworking disponível por locação avulsa adicional</span></li>
          <li><span style="line-height: 1.5em;">Uso de endereço comercial e correspondências</span></li>
          <li><span style="line-height: 1.5em;">Valor de um mês por empresa</span></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 text-center">
        <p style="font-size:2em; margin-top:1em">MEIO TURNO</p>
        <div>
          <p style="font-size:3em; line-height:1.5em; margin-top:0.5em">
            R$ 160,00 / MÊS
          </p>
        </div>
        <h2></h2>
        <div>
          <form action="https://pagseguro.uol.com.br/v2/pre-approvals/request.html" method="post">
            <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
            <input name="code" value="65B419970606969004562F9C7154AE1B" type="hidden">
            <input class="btn btn-success" name="submit" alt="Contratar plano de coworking" type="image">
          </form>
        </div>
        <ul style="text-align:left; margin-top:1.5em">
          <li><span style="line-height: 1.5em;">Contrato mensal<br></span></li>
          <li><span style="line-height: 1.5em;">Apoio para negócio</span></li>
          <li><span style="line-height: 1.5em;">Uso do Coworking para atendimento<br></span></li>
          <li><span style="line-height: 1.5em;">Acesso a rede de parceiros da Fábrica</span></li>
          <li><span style="line-height: 1.5em;">Coworking em meio-turno durante horário comercial</span></li>
          <li><span style="line-height: 1.5em;">Uso de endereço comercial e correspondências</span></li>
          <li><span style="line-height: 1.5em;">Valor de um mês por pessoa</span></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 text-center">
        <p style="font-size:2em; margin-top:1em">TURNO COMPLETO</h2>
        <div>
          <p style="font-size:3em; line-height: 1.5em; margin-top:0.5em;">
            R$ 250,00 / MÊS
          </p>
        </div>
        <h2></h2>
        <div>
          <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
          <form action="https://pagseguro.uol.com.br/v2/pre-approvals/request.html" method="post">
            <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
            <input name="code" value="89DE96298383DF3FF4C38F93DAFA4309" type="hidden">
            <input class="btn btn-success" name="submit" alt="Contratar plano de coworking" type="image">
          </form>
          <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
        </div>
        <ul style="text-align:left; margin-top:1.5em">
          <li><span style="line-height: 1.5em;">Contrato mensal</span></li>
          <li><span style="line-height: 1.5em;">Apoio para negócio</span></li>
          <li><span style="line-height: 1.5em;">Uso do Coworking para reunião ou atendimento<br></span></li>
          <li><span style="line-height: 1.5em;">Acesso a rede de parceiros da Fábrica<br></span></li>
          <li><span style="line-height: 1.5em;">Coworking liberado em horário comercial<br></span></li>
          <li><span style="line-height: 1.5em;">Uso de endereço comercial e correspondências<br></span></li>
          <li><span style="line-height: 1.5em;">Valor de um mês por pessoa</span></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 text-center">
        <p style="font-size:2em; margin-top:1em">TURNO INTEGRAL</p>
        <div>
          <p style="font-size:3em; line-height:1.5em; margin-top:0.5em">
            R$ 360,00 / MÊS
          </p>
        </div>
        <h2></h2>
        <div>
          <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
          <form action="https://pagseguro.uol.com.br/v2/pre-approvals/request.html" method="post">
            <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
            <input name="code" value="0527C19D74749C4994D08FBA9960ED0C" type="hidden">
            <input class="btn btn-success" name="submit" alt="Contratar plano de coworking" type="image">
          </form>
          <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
        </div>
        <ul style="text-align:left; margin-top:1.5em">
          <li><span style="line-height: 1.5em;">Contrato mensal</span></li>
          <li><span style="line-height: 1.5em;">Apoio para negócio</span></li>
          <li><span style="line-height: 1.5em;">Uso do Coworking para atendimento ou reunião<br></span></li>
          <li><span style="line-height: 1.5em;">Acesso a rede de parceiros da Fábrica<br></span></li>
          <li><span style="line-height: 1.5em;">Coworking liberado com acesso a chaves</span></li>
          <li><span style="line-height: 1.5em;"></span>Uso de endereço comercial e correspondências</li>
          <li><span style="line-height: 1.5em;">Valor de um mês por pessoa</span></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 text-center">
        <p style="font-size:2em; margin-top:1em">NOTURNO</p>
        <div>
          <p style="font-size:3em; line-height:1.5em; margin-top:0.5em">
            R$ 270,00 / MÊS
          </p>
        </div>
        <h2></h2>
        <div>
          <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
          <form action="https://pagseguro.uol.com.br/v2/pre-approvals/request.html" method="post">
            <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
            <input name="code" value="880034829090D593346F4F8FBEB3B644" type="hidden">
            <input class="btn btn-success" name="submit" alt="Contratar plano de coworking" type="image">
          </form>
          <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
        </div>
        <ul style="text-align:left; margin-top:1.5em">
          <li><span style="line-height: 1.5em;">Contrato mensal para uso noturno exclusivo</span></li>
          <li><span style="line-height: 1.5em;">Apoio para negócio</span></li>
          <li><span style="line-height: 1.5em;">Uso do Coworking para atendimento ou reunião<br></span></li>
          <li><span style="line-height: 1.5em;">Acesso a rede de parceiros da Fábrica<br></span></li>
          <li><span style="line-height: 1.5em;">Coworking liberado para fora do horário com chaves</span></li>
          <li><span style="line-height: 1.5em;"></span>Uso de endereço comercial e correspondências</li>
          <li><span style="line-height: 1.5em;">Valor de um mês por pessoa</span></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 text-center">
        <p style="font-size:2em; margin-top:1em">EVENTO</p>
        <div>
          <p style="font-size:3em; line-height:1.5em; margin-top:0.5em">
            R$ 50,00 / HORA
          </p>
        </div>
        <h2></h2>
        <div>
          <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
          <form action="https://pagseguro.uol.com.br/v2/pre-approvals/request.html" method="post">
            <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
            <input name="code" value="880034829090D593346F4F8FBEB3B644" type="hidden">
            <input class="btn btn-success" name="submit" alt="Locar para evento" type="image">
          </form>
          <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
        </div>
        <ul style="text-align:left; margin-top:1.5em">
          <li><span style="line-height: 1.5em;">Contrato avulso para uso da sala inteira</span></li>
          <li><span style="line-height: 1.5em;">Uso do Coworking para eventos, oficinas ou palestras<br></span></li>
          <li><span style="line-height: 1.5em;">Acesso a rede de parceiros da Fábrica<br></span></li>
          <li><span style="line-height: 1.5em;">Valor da hora da sala</span></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 text-center">
        <p style="font-size:2em; margin-top:1em">ATENDIMENTO</p>
        <div>
          <p style="font-size:3em; line-height:1.5em; margin-top:0.5em">
            R$ 25,00 / HORA
          </p>
        </div>
        <h2></h2>
        <div>
          <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
          <form action="https://pagseguro.uol.com.br/v2/pre-approvals/request.html" method="post">
            <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
            <input name="code" value="880034829090D593346F4F8FBEB3B644" type="hidden">
            <input class="btn btn-success" name="submit" alt="Locar para atendimento" type="image">
          </form>
          <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
        </div>
        <ul style="text-align:left; margin-top:1.5em">
          <li><span style="line-height: 1.5em;">Contrato avulso para uso de uma mesa</span></li>
          <li><span style="line-height: 1.5em;">Uso do Coworking para atendimento ou reunião<br></span></li>
          <li><span style="line-height: 1.5em;">Acesso a rede de parceiros da Fábrica<br></span></li>
          <li><span style="line-height: 1.5em;">Valor da hora por mesa</span></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 text-center">
        <p style="font-size:2em; margin-top:1em">AVULSO</p>
        <div>
          <p style="font-size:3em; line-height:1.5em; margin-top:0.5em">
            R$ 6,00 / HORA
          </p>
        </div>
        <h2></h2>
        <div>
          <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
          <form action="https://pagseguro.uol.com.br/v2/pre-approvals/request.html" method="post">
            <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
            <input name="code" value="880034829090D593346F4F8FBEB3B644" type="hidden">
            <input class="btn btn-success" name="submit" alt="Locar avulsamente" type="image">
          </form>
          <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
        </div>
        <ul style="text-align:left; margin-top:1.5em">
          <li><span style="line-height: 1.5em;">Avulso uso de uma estação das 9h às 19h</span></li>
          <li><span style="line-height: 1.5em;">Sem contrato de uso mínimo de horas</span></li>
          <li><span style="line-height: 1.5em;">Uso do Coworking para trabalho ou reunião<br></span></li>
          <li><span style="line-height: 1.5em;">Acesso a rede de parceiros da Fábrica<br></span></li>
          <li><span style="line-height: 1.5em;">Valor da hora por estação</span></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <h2 style="text-align: right;">Valores Avulsos do Coworking</h2>
      <p style="text-align: right;">Está precisando de um lugar para de vez em quando para trabalhar durante um turno? A Fábrica de Ideias tem para você pacotes de horas renováveis de mês a mês e compartilháveis (cada um utiliza uma hora), caso ainda não seja membro da Fábrica. Usuários dos planos semestrais tem preço especial para realizar eventos, cursos e oficinas pelo Fábrica de Ideias Lab. Para saber mais sobre estes valores, contate-nos por oi@fabricadeideiascw.com.br.</p>
      <p style="text-align: right;">Tem interesse em realizar eventos, reuniões ou atendimentos na Fábrica de Ideias e ainda não é mensalista? Temos o preço especial de R$ 50,00/h para locar nosso espaço fora do horário comercial (9h às 19h), e R$ 25,00/h dentro do horário comercial, para qualquer quantidade de pessoas e qualquer horário. Faça sua próxima palestra, oficina ou curso na Fábrica de Ideias Coworking!</p>
      <p style="text-align: right;"></p>
    </div>
    <div class="col-md-6">
      <h2>Pacotes de Horas Individuais:</h2>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Quantidade de horas</td>
            <td>Valor do pacote por pessoa</td>
            <td>Valor por hora</td>
            <td>Opções</td>
          </tr>
          <tr>
            <td>1h noturna</td>
            <td>R$ 12,00</td>
            <td>R$ 12,00/h</td>
            <td>
              <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
              <form action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post">
                <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                <input name="itemCode" value="7999627DBDBD589444028FB975DEF612" type="hidden">
                <input class="btn btn-success" name="submit" alt="Comprar" type="image">
              </form>
              <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
            </td>
          </tr>
          <tr>
            <td>1h</td>
            <td>R$ 6,00</td>
            <td>R$ 6,00/h</td>
            <td>
              <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
              <form action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post">
                <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                <input name="itemCode" value="8ED85B60A0A066F334A95FB5CCF5D600" type="hidden">
                <input class="btn btn-success" name="submit" alt="Comprar" type="image">
              </form>
              <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
            </td>
          </tr>
          <tr>
            <td>10h</td>
            <td>R$ 50,00</td>
            <td>R$ 5,00/h</td>
            <td>
              <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
              <form action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post">
                <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                <input name="itemCode" value="C32CD82F2626EDF884CF3F8B38E198B0" type="hidden">
                <input class="btn btn-success" name="submit" alt="Comprar" type="image">
              </form>
              <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
            </td>
          </tr>
          <tr>
            <td>50h</td>
            <td>R$ 125,00</td>
            <td>R$ 2,50/h</td>
            <td>
              <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
              <form action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post">
                <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                <input name="itemCode" value="72F6A05C62628E0AA4F32F9B9134BF6A" type="hidden">
                <input class="btn btn-success" name="submit" alt="Comprar" type="image">
              </form>
              <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
            </td>
          </tr>
          <tr>
            <td>100h</td>
            <td>R$ 160,00</td>
            <td>R$ 1,60/h</td>
            <td>
              <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
              <form action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post">
                <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                <input name="itemCode" value="416190649595471884F5AF81407D3EE9" type="hidden">
                <input class="btn btn-success" name="submit" alt="Comprar" type="image">
              </form>
              <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
            </td>
          </tr>
          <tr>
            <td>200h</td>
            <td>R$ 250,00</td>
            <td>R$ 1,25/h</td>
            <td>
              <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
              <form action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post">
                <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                <input name="itemCode" value="C7561BF23D3D4B4114DDFF8A940E0B0D" type="hidden">
                <input class="btn btn-success" name="submit" alt="Comprar" type="image">
              </form>
              <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
            </td>
          </tr>
        </tbody>
      </table>
      <p style="text-align: center;">Disponibilidade do espaço para organizar eventos, oficinas, cursos e palestras no Lab, ou utilizar o Coworking dependem de agendamento prévio, valendo para todos planos.</p>
    </div>
  </div>
</div>

{% endblock %}
