{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "mezzanine/css/magnific-popup.css" %}">
{% endblock extra_css %}

{% block extra_js %}
{{ block.super }}
<script src="{% static "mezzanine/js/magnific-popup.js" %}"></script>
<script>
$(document).ready(function() {
    $('.gallery').magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery: {
            enabled: true,
        }
    });
});
</script>
{% endblock %}

{% block main %}

<div class="row">
  <div class="col-md-12 middle">
    <h1 style="text-align: center;">Fotos do espaço da Fábrica de Ideias</h1>
    <p>Seguem algumas fotos de nosso espaço. Confortável e aconchegante, são os
    melhores adjetivos para definir para quem usa o nosso espaço durante o seu
    dia-a-dia. Para conhecer mais, basta contatarmos e marcaremos um dia para você
    nos visitar ,para que possamos lhe servir um ótimo cafezinho enquanto apresentamos
    nossas vantagens na Fábrica de Ideias.</p>
    <div class="gallery row">
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" rel="#image-15" title="Dsc09745" href="{% static 'media/uploads/galleries/dsc09745.jpg' %}">
          <img class="img-responsive" src="{% static 'media/uploads/galleries/.thumbnails/dsc09745.jpg/dsc09745-131x75.jpg' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" rel="#image-17" title="Dsc09743" href="{% static 'media/uploads/galleries/dsc09743.jpg' %}">
          <img class="img-responsive" src="{% static 'media/uploads/galleries/.thumbnails/dsc09745.jpg/dsc09743-131x75.jpg' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" rel="#image-18" title="Dsc09741" href="{% static 'media/uploads/galleries/dsc09741.jpg' %}">
          <img class="img-responsive" src="{% static 'media/uploads/galleries/.thumbnails/dsc09745.jpg/dsc09741-131x75.jpg' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" rel="#image-19" title="Dsc09740" href="{% static 'media/uploads/galleries/dsc09740.jpg' %}">
          <img class="img-responsive" src="{% static 'media/uploads/galleries/.thumbnails/dsc09745.jpg/dsc09740-131x75.jpg' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" rel="#image-20" title="Dsc09734" href="{% static 'media/uploads/galleries/dsc09734.jpg' %}">
          <img class="img-responsive" src="{% static 'media/uploads/galleries/.thumbnails/dsc09745.jpg/dsc09734-131x75.jpg' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" rel="#image-21" title="Img 20150727 163744403" href="{% static 'media/uploads/galleries/img_20150727_163744403.jpg' %}">
          <img class="img-responsive" src="{% static 'media/uploads/galleries/.thumbnails/img_20150727_163744403.jpg/img_20150727_163744403-131x75.jpg' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" rel="#image-22" title="Img 20150727 164344785" href="{% static 'media/uploads/galleries/img_20150727_164344785.jpg' %}">
          <img class="img-responsive" src="{% static 'media/uploads/galleries/.thumbnails/img_20150727_164344785.jpg/img_20150727_164344785-131x75.jpg' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" rel="#image-23" title="Img 20150727 164418703" href="{% static 'media/uploads/galleries/img_20150727_164418703.jpg' %}">
          <img class="img-responsive" src="{% static 'media/uploads/galleries/.thumbnails/img_20150727_164418703.jpg/img_20150727_164418703-131x75.jpg' %}">
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
