{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load pages_tags %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col-md-12 middle">
      <h1 class="text-center">Serviços que podem lhe auxiliar no seu negócio:</h1>
      <p class="text-center">A Fábrica de Ideias Coworking possui toda a estrutura de
      serviços necessária para que seu negócio fique bem instalado em nosso espaço. Desde
      locações de linhas telefônicas e impressoras até serviços especializados, temos
      sempre a expectativa de cobrir todas as necessidades de nosso cliente.
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-center">
      <h2>Linha Telefônica Exclusiva</h2>
      <p>A linha que disponibilizamos para recebimento de chamadas é insuficiente para
      a sua demanda? Não se preocupe, na Fábrica de Ideias nós realizamos a cessão de
      uma linha telefônica para o seu uso exclusivo, e mais, com o seu próprio número.</p>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Tipo de plano</td>
            <td>Valor por linha</td>
            <td>Vantagens</td>
          </tr>
          <tr>
            <td>Local</td>
            <td>R$ 40,00/mês</td>
            <td>Fixo local e recebimento de chamadas</td>
          </tr>
          <tr>
            <td>Local Especial</td>
            <td>R$ 70,00/mês</td>
            <td>Fixo local e atendimento personalizado</td>
          </tr>
          <tr>
            <td>À Distância</td>
            <td>R$ 100,00/mês</td>
            <td>Fixo DDD e atendimento personalizado</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 text-center">
      <h2>Impressora Exclusiva</h2>
      <p>Está precisando de um volume maior de impressões? Conte com o nosso serviço
      de locação de impressoras. Loque e fique despreocupado com recargas e manutenções
      do equipamento; deixe esta preocupação com a gente.</p>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Tamanho do plano</td>
            <td>Valor por impressora</td>
            <td>Impressões</td>
          </tr>
          <tr>
            <td>P</td>
            <td>R$ 75,00/mês</td>
            <td>500 folhas/mês</td>
          </tr>
          <tr>
            <td>M</td>
            <td>R$ 100,00/mês</td>
            <td>1000 folhas/mês</td>
          </tr>
          <tr>
            <td>G</td>
            <td>R$ 150,00/mês</td>
            <td>5000 folhas/mês</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <h1>Está procurando uma demanda especial?</h1>
    <p>Conte com a nossa equipe de especialistas da <b>Fábrica de Ideias Hub</b>.
    Acesse nosso site em <a href="http://hub.fabricadeideiascw.com.br">hub.fabricadeideiascw.com.br</a>
    e saiba mais sobre os nossos serviços especiais.</p>
    <p></p><br/>
  </div>
</div>

{% endblock %}
