{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load pages_tags %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col-md-6 text-right">
      <h1>Coworking na Fábrica de Ideias</h1>
      <p style="font-size: 1.2em; line-height: 1.5em;">Juntada a essa fórmula de sucesso, temos
      na Fábrica de Ideias também o reconhecido bom atendimento e opções de palestras, oficinas
      e eventos para o nosso membro, seja no próprio espaço ou em outros através de promoções.
      Aqui também você faz networking com empreendedores, profissionais, investidores e trabalha
      em um ambiente inspirador, criativo e colaborativo, bastante propenso para a criação de
      novos negócios.</p>
    </div>
    <div class="col-md-6">
      <h1>Vantagens</h1>
      <div style="font-size: 1.5em; line-height: 1.5em;">
        <p><span class="glyphicon glyphicon-map-marker">&nbsp;</span>Espaço bem localizado, próximo ao centro</p>
        <p><span class="glyphicon glyphicon-ok">&nbsp;</span>Coworking pronto para trabalho</p>
        <p><span class="glyphicon glyphicon-globe">&nbsp;</span>Internet 35M, material e armários</p>
        <p><span class="glyphicon glyphicon-phone-alt">&nbsp;</span>Telefone para recados e impressão</p>
        <p><span class="glyphicon glyphicon-edit">&nbsp;</span>Quadros para anotações</p>
        <p><span class="glyphicon glyphicon-book">&nbsp;</span>Espaços para leitura e descanso</p>
        <p><span class="glyphicon glyphicon-cutlery">&nbsp;</span>Cozinha com geladeira, microondas e expresso</p>
        <p><span class="glyphicon glyphicon-film">&nbsp;</span>Projetor e televisão 32"</p>
        <p><span class="glyphicon glyphicon-tint">&nbsp;</span>Espaços totalmente climatizados</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
