{% extends "pages/page.html" %}

{% load static %}

{% block extra_css %}
{# <link rel="stylesheet" href="{% static "mezzanine/css/magnific-popup.css" %}">#}
{% endblock extra_css %}

{% block extra_js %}
{{ block.super }}
{# <script src="{% static "mezzanine/js/magnific-popup.js" %}"></script>#}
<script>
$(document).ready(function() {
    $('.gallery').magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery: {
            enabled: true,
        }
    });
});
</script>
{% endblock %}

{% block main %}

<div class="row">
  <div class="col-md-12 middle">
    <h1 style="text-align: center;">Fotos da Fábrica de Ideias</h1>
    <p>Seguem algumas fotos de nosso espaço. Confortável e aconchegante, são os
    melhores adjetivos para definir para quem usa o nosso espaço durante o seu
    dia-a-dia. Para conhecer mais, basta contatarmos e marcaremos um dia para você
    nos visitar ,para que possamos lhe servir um ótimo cafezinho enquanto apresentamos
    nossas vantagens na Fábrica de Ideias.</p>
    <div class="gallery row">
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09757.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09757.JPG' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09758.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09758.JPG' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09759.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09759.JPG' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09760.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09760.JPG' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09761.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09761.JPG' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09762.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09762.JPG' %}">
        </a>
      </div>
      <!--<div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09763.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09763.JPG' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09764.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09764.JPG' %}">
        </a>
      </div>!-->
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09765.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09765.JPG' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09766.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09766.JPG' %}">
        </a>
      </div>
      <!--<div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09767.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09767.JPG' %}">
        </a>
      </div>!-->
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09768.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09768.JPG' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09769.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09769.JPG' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09770.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09770.JPG' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09771.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09771.JPG' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09772.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09772.JPG' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09773.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09773.JPG' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09774.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09774.JPG' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09775.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09775.JPG' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09776.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09776.JPG' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09777.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09777.JPG' %}">
        </a>
      </div>
      <!--<div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09778.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09778.JPG' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09778.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09778.JPG' %}">
        </a>
      </div>!-->
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09779.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09779.JPG' %}">
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a class="thumbnail" href="{% static 'media/coworking/DSC09780.JPG' %}">
          <img class="img-responsive" src="{% static 'media/coworking/DSC09780.JPG' %}">
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
